<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="curefull.healthapp">

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTER" />
    <uses-permission android:name="curefull.healthapp.permission.C2D_MESSAGE" />

    <permission
        android:name="curefull.healthapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".CureFull"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|touchscreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="example1.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="example2.com"
                    android:pathPrefix="/"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <receiver android:name=".InstallReferrerBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PopupActivity"
            android:theme="@style/TranslucentActivity" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="image/*" />
        </intent-filter>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDq7kHf0j33Z7aeCXCA6f7bEYOhz-3mdgI" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDq7kHf0j33Z7aeCXCA6f7bEYOhz-3mdgI" />

        <!--<service-->
        <!--android:name=".FitGoogleService"-->
        <!--android:exported="false" />-->
        <receiver android:name="utils.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service
            android:name="stepcounter.MessengerService"
            android:process=":my_process" />

        <receiver android:name="awsgcm.AlarmReceiver">
            <intent-filter>
                <action android:name="complete" />
                <action android:name="skip" />
                <action android:name="snooze" />
                <action android:name="steps" />
            </intent-filter>
        </receiver>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="curefull.healthapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        //Amazon upload file
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!--<service android:name=".MyFirebaseMessagingService">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/email_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name="awsgcm.MessageReceivingService"
            android:label="awsgcm.MessageReceivingService">
            <intent-filter>
                <action android:name="curefull.healthapp.ExternalReceiver" />
                <category android:name="curefull.healthapp" />
            </intent-filter>
        </service>

        <receiver
            android:name="awsgcm.ExternalReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.REGISTER" />

                <category android:name="curefull.healthapp" />
            </intent-filter>
        </receiver>

    </application>

</manifest>